<footer>
    <div class="container content">
        <div class="columns">
            <div class="column is-7">
                <p>Disclaimer: The information in JustFix.nyc does not constitute legal advice and must not be used as a substitute for the advice of a lawyer qualified to give advice on legal issues pertaining to housing. We can help direct you to free legal services if necessary.</p>
                <p>JustFix.nyc is a registered 501(c)(3) nonprofit organization.</p>
            </div>
            <div class="column is-1"></div>
            <div class="column is-4">
                <p>Made with NYC ♥ by the team at <a href="https://justfix.nyc">JustFix.nyc</a>.</p>
            </div>
        </div>
    </div>
</footer>
