<!DOCTYPE html>{% load static %}
<html lang="{{ locale }}" data-safe-mode-no-js>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ meta_tags }}
        {% if site_type == "NORENT" %}
            <link rel="stylesheet" href="{% static "frontend/styles-norent.css" %}" />
        {% else %}
            <link rel="stylesheet" href="{% static "frontend/styles.css" %}" />
        {% endif %}
        {{ SAFE_MODE_SNIPPET }}
        {{ ROLLBAR_SNIPPET }}
        {% if enable_analytics %}
            <meta name="enable-analytics" content="1">
            {{ FULLSTORY_SNIPPET }}
            {{ GA_SNIPPET }}
            {{ GTM_SNIPPET }}
            {{ FACEBOOK_PIXEL_SNIPPET }}
        {% else %}
            <meta name="enable-analytics" content="0">
        {% endif %}
        {{ title_tag }}
    </head>
    <body class="{% if not is_safe_mode_enabled %}has-navbar-fixed-top{% endif %} jf-site-{{ site_type|lower }}">
        {% if enable_analytics %}
            {{ GTM_NOSCRIPT_SNIPPET }}
            {{ FACEBOOK_PIXEL_NOSCRIPT_SNIPPET }}
        {% endif %}
        {% if modal_html %}<div id="prerendered-modal">{{ modal_html }}</div>{% endif %}
        <div id="main" {% if modal_html %}hidden{% endif %}>{{ initial_render }}</div>
        {% if not is_safe_mode_enabled %}
            {{ initial_props|json_script:'initial-props' }}
            {{ script_tags }}
        {% endif %}
        {% include 'frontend/safe_mode_ui.html' %}
    </body>
</html>
