<!DOCTYPE html>{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "frontend/styles.css" %}" />
        <title>JustFix.nyc - Technology for Housing Justice</title>
    </head>
    <body>
        <p>
            Hello, developer! For more details on the size of our JS bundle, see the
            <a href="{% static "frontend/report.html" %}">webpack bundle analysis</a>.
        </p>
        <p>
            Or you can visit the <a href="{% url "admin:index" %}">admin</a>, though
            you will probably want to run <code>manage.py createsuperuser</code> first.
        </p>
        <script src="{% static "frontend/bundle.js" %}"></script>
    </body>
</html>