# The following lines should be identical to our .gitignore.
*lambda.js
*lambda.js.map
__pycache__/
.vscode/
.mypy_cache/
.pytest_cache/
.env
.justfix-env
.coverage
node_modules/
tsc-build/
coverage/
locales/_build
locales/**/messages.js
locales/**/*.mo
frontend/static/frontend/*.js
frontend/static/frontend/*.css
frontend/static/frontend/*.map
frontend/static/frontend/report.html
frontend/safe_mode/safe-mode.min.js
staticfiles/
mediafiles/
frontend/lib/queries/__generated__/
frontend/lib/queries/*.ts
frontend/static/frontend/loadable-stats.json
.DS_Store
hp-action.pdf
hp-action.xml
.babel-cache.json
debug-data/
*.log
docker-compose.override.yml

# Here we begin to deviate from our .gitignore.
Dockerfile*
README.md
deploy.py
.dockerignore
.git
