db.sqlite3
db.testing.sqlite3
lambda.js
lambda.js.map
.vscode/
.mypy_cache/
.pytest_cache/
.env
.coverage
node_modules/
frontend/static/frontend/*.js
frontend/static/frontend/*.css
frontend/static/frontend/*.map
frontend/static/frontend/report.html
staticfiles/
schema.json
frontend/lib/queries/__generated__/
querybuilder.js
querybuilder.js.map
