[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-django = "*"
"flake8" = "*"
pytest-cov = "*"
python-dotenv = "*"
factory-boy = "*"

[packages]
django = "*"
whitenoise = "*"
dj-database-url = "*"
django-csp = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
graphene-django = "*"
pymongo = "*"

[requires]
python_version = "3.7"
