[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy = "*"
pytest = "*"
# DO NOT UPGRADE, latest version breaks paths on Windows:
# https://github.com/pytest-dev/pytest-django/issues/641
pytest-django = "==3.3.3"
"flake8" = "*"
pytest-cov = "*"
python-dotenv = "*"
factory-boy = "*"
requests-mock = "*"

[packages]
django = "*"
whitenoise = "*"
dj-database-url = "*"
django-csp = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
graphene-django = "*"
pymongo = "*"
pydantic = "*"
requests = "*"

[requires]
python_version = "3.7"
