// This class is a recreation of the .jf-above-footer-content class
// that allows our footer to peak above the fold on desktop and
// fit just below the fold on mobile, while maintaining the
// correct formatting of NoRent internal pages
.jf-norent-internal-above-footer-content {
  min-height: calc(100vh - #{$navbar-height});
  @include tablet {
    margin-top: 4rem;
    margin-bottom: 4rem;
    min-height: calc(100vh - 8rem - #{$navbar-height} - #{$footer-offset});
  }
}

// Fixes page container spacing issue for users in safe mode
html[data-safe-mode-no-js] .jf-norent-internal-above-footer-content {
  @include tablet {
    margin-top: 0;
    nav.navbar {
      margin-bottom: 4rem;
    }
  }
}

// This class helps create the two-color background on letter builder pages
.jf-block-of-color-in-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 450px;
  background-color: $info;
  z-index: -1;
}

.box.jf-norent-builder-page {
  padding: 4rem 6rem;
  max-width: 700px;
  @include is-horizontal-center;

  @include mobile {
    margin: 0;
    padding: 3rem 1.5rem;
    box-shadow: none;
    border-radius: 0;
    // Since the mobile breakpoint might actually be higher than the max-width,
    // let's unset the max-width property to avoid formatting weirdness
    max-width: unset;
  }

  // These variables estimate the height between the top of the viewport
  // and the top of a jf-progress-step-wrapper container on desktop.
  // The idea is to offset these containers so that the letter builder box extends just beyond the viewport on desktop.
  //
  // Note: this is NOT an ideal implementation, and should be updated if there are major changes to the sizing
  // and formatting of the NoRent builder step pages
  $progress-step-offset: 300px;

  .jf-progress-step-wrapper {
    // Make container height extend to edge of viewport:
    @include tablet {
      min-height: calc(100vh - #{$progress-step-offset});
    }
  }

  h1.title {
    font-size: 36px;
    @extend .has-text-primary;
  }

  .progress {
    @extend .is-primary;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.3;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    // Change default text size for form warnings
    &.help {
      font-size: 1rem;
    }
  }

  ul {
    margin-left: 1.5rem;
    li {
      font-weight: 600;
    }
  }

  .jf-letter-translation ul li {
    font-weight: inherit;
  }

  .jf-is-nonpayment-documentation ul li {
    font-weight: normal;
  }

  ol {
    list-style-position: inside;
  }

  .buttons {
    margin-top: 6rem;
  }

  .message .message-body {
    @include mobile {
      padding: 1rem;
    }
    p {
      font-size: 1rem;
    }
  }

  // Add top padding to any titles that appear inside media,
  // like the title on the letter builder confirmation page
  .media .media-content .title {
    margin-top: 0.75rem;
  }

  // Override default accordion styling from primary pages
  .jf-accordion-item {
    .media-content {
      flex-grow: 0;
    }

    // Include special styling props for when a message is
    // embedded inside an accordion item
    .message .message-body {
      @include tablet {
        padding: 2rem;
      }
      p {
        padding-top: 0;
        font-size: 1.25rem;
        font-weight: normal;
      }
    }
  }

  .jf-norent-letter-confirmation {
    h3,
    h4 {
      margin-bottom: 0.5rem;
    }
    h5 {
      font-size: 1.25rem;
      letter-spacing: 0.04rem;
    }
    .jf-social-icons.buttons {
      margin-top: 1.25rem;
      justify-content: center;
    }
  }
}
