@charset "utf-8";

// This is where the EvictionFree-related static assets will be, relative to
// where this CSS file will be when the site is deployed.
$evictionfree-root: "../evictionfree";

$jf-body-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
$jf-title-family: "Montserrat Black", sans-serif;
$jf-alt-title-family: "Montserrat Bold", sans-serif;

@import "../_util.scss";
@import "./_bulma-overrides.scss";
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/bulma-divider/dist/css/bulma-divider.sass";
@import "../_supertiny.scss";
@import "../_a11y.scss";
@import "../_safe-mode.scss";
@import "../_modal.scss";
@import "../evictionfree/_modal-overrides.scss";
@import "../_loading-overlay.scss";
@import "../_progress.scss";
@import "../_dev.scss";
@import "../_forms.scss";
@import "../evictionfree/forms-overrides.scss";
@import "../_buttons.scss";
@import "../evictionfree/_button-overrides.scss";
@import "../_big-list.scss";
@import "../_animations.scss";
@import "../_footer.scss";
@import "../evictionfree/_footer-overrides.scss";
@import "../_letter-preview.scss";
@import "../_autocomplete.scss";
@import "../_helpers.scss";
@import "../_language-toggle.scss";
@import "../_email.scss";
@import "../evictionfree/_email-overrides.scss";
@import "../_accordion.scss";

@import "../evictionfree/_fonts.scss";

// These variables define the background and content colors for the nav-bar
$jf-navbar-background: $white;
$jf-navbar-content: $black;

@import "../_navbar.scss";
@import "../evictionfree/_navbar-overrides.scss";

@import "../_demo-deployment-note.scss";

@import "../evictionfree/_misc.scss";

@import "../evictionfree/_primary_pages.scss";
@import "../evictionfree/_letter-builder.scss";

.jf-evictionfree-logo {
  font-weight: 600;
  font-family: $jf-title-family;
  letter-spacing: 0;
}
