// New style for back buttons:
.button.jf-is-back-button {
  background-color: transparent;
  border: 2px solid $primary;
  color: $primary;

  &:hover,
  &:active {
    background-color: $primary;
    color: $white;
  }
}

// New style for next buttons and general full width buttons:
.button.jf-is-next-button,
.button.is-fullwidth {
  // center button text vertically within button element
  line-height: 0;
}

// New style for extra wide, centered buttons:
.button.jf-is-extra-wide {
  font-size: 1.25rem;
  height: 0;
  padding-left: 4rem;
  padding-right: 4rem;

  @media screen and (max-width: $tablet) {
    width: 100%;
    // Since these buttons can go to 2 or 3 lines on mobile,
    // we want to bring back the internal height,
    // which means we must also reduce the padding to offset:
    height: auto;
    padding: 1.25rem;
  }
}

.jf-two-buttons {
  .control {
    max-width: 45%;
    // This style targets any button wrapped in a control class inside a container of two buttons.
    // The main examples of these inside NoRent are the "Cancel" buttons in the first steps of the letter builder.
    .button {
      width: 100%;
      line-height: 0;
    }
  }
  .button.jf-is-next-button,
  .button.jf-is-back-button {
    max-width: 45%;
  }
}

// Default styling for all light buttons
.button.is-light,
.button.is-light:hover {
  color: $white;
  // Override color of loading icon:
  &.is-loading::after {
    border-color: transparent transparent $white $white !important;
  }
}

// Fixes issue with light buttons in progress step forms having displaced text:
.jf-progress-step-wrapper form .button.is-light {
  line-height: 0;
}
