nav.navbar {
  &.is-fixed-top {
    // override navbar position to not be sticky:
    position: absolute;
  }
  .navbar-menu {
    .navbar-link,
    .navbar-item {
      color: $dark;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 200;

      &:hover {
        color: $dark;
        &::after {
          border-color: $dark;
        }
      }
    }
  }
  .navbar-burger {
    color: $info;
    span {
      height: 2px;
    }
  }
}
