nav.navbar {
  .navbar-menu {
    .navbar-link,
    .navbar-item {
      color: $dark;
      text-transform: uppercase;
      letter-spacing: 2px;

      &:hover::after {
        border-color: $dark;
      }
    }
  }
  .navbar-burger {
    color: $info;
    span {
      height: 2px;
    }
  }
}
