@charset "utf-8";

// This is where the NoRent.org static assets will be, relative to
// where this CSS file will be when the site is deployed.
$norent-root: "../norent";

$jf-body-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
$jf-title-family: "Montserrat Black", sans-serif;
$jf-alt-title-family: "Montserrat Bold", sans-serif;

@import "../_util.scss";
@import "./_bulma-overrides.scss";
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/bulma-divider/dist/css/bulma-divider.sass";
@import "../_supertiny.scss";
@import "../_a11y.scss";
@import "../_safe-mode.scss";
@import "../_modal.scss";
@import "./_modal-overrides.scss";
@import "../_loading-overlay.scss";
@import "../_progress.scss";
@import "../_dev.scss";
@import "../_forms.scss";
@import "./forms-overrides.scss";
@import "../_buttons.scss";
@import "./_button-overrides.scss";
@import "../_big-list.scss";
@import "../_animations.scss";
@import "../_footer.scss";
@import "./_footer-overrides.scss";
@import "../_letter-preview.scss";
@import "../_autocomplete.scss";
@import "../_helpers.scss";

@import "./_fonts.scss";

// These variables define the background and content colors for the nav-bar
$jf-navbar-background: $white;
$jf-navbar-content: $black;

@import "../_navbar.scss";
@import "./_navbar-overrides.scss";

@import "../_demo-deployment-note.scss";

// PRESETS TO PRE-EXISTING CLASSES:
.title {
  font-family: $jf-title-family;

  &.jf-alt-title-font {
    font-family: $jf-alt-title-family;
  }
}

.content {
  h1.title {
    font-size: 4.5rem;
    line-height: 1;
  }

  h2.title {
    font-size: 2.25rem;
    line-height: 1;
  }

  // Default style for inline hyperlinks:
  a:not(.button) {
    text-decoration: underline;
    font-weight: 600;
    &:hover {
      // Keep color consistent on hover
      color: $link;
    }
  }

  // Default spacing between paragraphs
  p:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  // Set all Bulma container classes to have max width:
  .container {
    max-width: 800px;
    &.jf-tight-container {
      max-width: 600px;
    }
    &.jf-wide-container {
      max-width: 1000px;
    }
  }

  // Default hero padding
  .hero-body {
    padding: 4rem 2rem;
  }

  // Make all media icons have vertical centering
  // as well as smaller margins on mobile
  .media .media-left,
  .media .media-right {
    margin-top: auto;
    margin-bottom: auto;
    @media screen and (max-width: $tablet) {
      figure {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
}

// CUSTOM CLASSES

@mixin is-horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.jf-space-below-2rem {
  margin-bottom: 2rem;
}

.jf-has-text-centered-tablet {
  text-align: left;
  @include tablet {
    text-align: center;
  }
}

.jf-has-centered-images {
  figure {
    @include is-horizontal-center;
  }
}

.jf-norent-logo {
  display: inline-block;
  figure.image {
    // Add a little top margin to nudge it inline with text
    margin: 0.1rem 0 0 0;
    // Fit height attribute to height of logo
    height: fit-content;
  }
}

$jf-logo-height: 70px;

.jf-justfix-logo {
  height: $jf-logo-height;
  figure.image {
    margin: 0;
    padding: 0;
    img {
      height: $jf-logo-height;
      width: calc(3 * #{$jf-logo-height});
    }
  }
  @include tablet {
    height: calc(#{$jf-logo-height} + 50px);
    figure.image img {
      @include is-horizontal-center;
      height: calc(#{$jf-logo-height} + 50px);
      width: calc(3 * (#{$jf-logo-height} + 50px));
    }
  }
}

.jf-partner-logos {
  a figure.image:hover {
    opacity: 0.8;
    transform: scale(1.02);
  }
  @include tablet {
    figure.image {
      height: 160px;
      width: 160px;
    }
  }
}

.jf-jump-arrow {
  figure {
    @extend .jf-up-and-down;
  }
}

// PRIMARY PAGES

$norent-sticky-menu-height: 100px;

.jf-sticky-button-container {
  @include mobile {
    // Allow extra padding on the last child container to make room for sticky menu,
    // as well as a margin to make space between the menu and the footer:
    section:last-child {
      padding-bottom: $norent-sticky-menu-height;
    }
    margin-bottom: calc(#{$norent-sticky-menu-height} / 2);
  }
  .jf-sticky-button-menu {
    position: sticky;
    height: $norent-sticky-menu-height;
    top: calc(100vh - #{$norent-sticky-menu-height});
    width: 100%;
    z-index: 1000;
    padding: 1rem;
  }
}

// We need to offset the position of whatever container appears after the sticky menu
// Otherwise, we will be left with empty space at the menu's original position
.jf-sticky-button-menu + .container {
  @include mobile {
    margin-top: calc(-#{$norent-sticky-menu-height} / 2);
  }
}

.jf-illustration-paper-airplanes,
.jf-illustration-fist-pump {
  width: 200px;
  height: 200px;
  @include mobile {
    width: 128px;
    height: 128px;
  }
}

.jf-illustration-paper-airplanes {
  // Illustration spacing offset according to design:
  margin-left: 3rem;
  figure {
    margin: 0;
  }
}
.jf-illustration-fist-pump {
  @include is-horizontal-center;
}

.jf-letter-counter {
  font-size: 4rem;
}

.jf-norent-checklist {
  .media {
    height: 5rem;
  }
}

.jf-collective-action-list {
  .media {
    border: none;
    .media-left figure.image {
      margin-left: 0;
    }
  }
  @include tablet {
    width: fit-content;
    .media {
      @include is-horizontal-center;
    }
  }
}

.jf-norent-checklist,
.jf-collective-action-list {
  .media-content {
    align-self: center;
    // Fixes bug on Safari that made these content blocks scrollable
    display: table;
  }
}

.jf-letter-preview-container.hero-body {
  padding-bottom: 0;
  @include mobile {
    .message .message-body {
      padding: 1.5rem;
    }
  }

  .jf-letter-preview-fadeout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background: linear-gradient(
      0deg,
      $grey-lighter 50%,
      rgba(255, 255, 255, 0) 102.42%
    );
  }
}

.jf-how-it-works-container {
  .column {
    p:not(.title) {
      line-height: 1.35;
    }
    figure {
      margin-bottom: 1rem;
    }
    @include mobile {
      // Make divs in column line up side by side on mobile
      display: flex;
      figure {
        width: 64px;
        height: 64px;
        margin: 0.5rem 1.5rem 0 0;
      }
    }
  }
}

.jf-faqs-preview {
  .jf-accordion-item {
    &:not(:last-child) {
      border-bottom: 0.3px solid #828282ee;
    }
  }
}

.jf-faqs {
  .hero-body {
    padding-top: 1rem;
  }
}

.jf-accordion-item {
  // Have border extend beyond element boundary
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;

  details {
    p,
    summary {
      // Have border extend beyond element boundary for a better looking focus border
      padding: 1rem;
      margin: 0 -1rem;
    }
    summary {
      // Make question box feel clickable to user
      cursor: pointer;
      // Remove default marker
      list-style-type: none;
      &::-webkit-details-marker {
        display: none;
      }
      &:focus {
        @include outline-focus();
      }
      .media .media-right {
        margin-top: 0.15rem;
      }
    }
  }
}

.jf-block-of-color-in-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 450px;
  background-color: $info;
  z-index: -1;
}

// LETTER BUILDER PAGES

.box.jf-norent-builder-page {
  padding: 4rem 6rem;
  max-width: 700px;
  margin: 4rem auto;

  @include mobile {
    margin: 0;
    padding: 3rem 1.5rem;
    box-shadow: none;
    border-radius: 0;
    // Since the mobile breakpoint might actually be higher than the max-width,
    // let's unset the max-width property to avoid formatting weirdness
    max-width: unset;
  }

  h1.title {
    font-size: 36px;
  }

  .progress {
    @extend .is-info;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.3;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  ul {
    margin-left: 1.5rem;
    li {
      font-weight: 600;
    }
  }

  ol {
    list-style-position: inside;
  }

  .message .message-body {
    @include mobile {
      padding: 1rem;
    }
    p {
      font-size: 1rem;
    }
  }

  // Add top padding to any titles that appear inside media,
  // like the title on the letter builder confirmation page
  .media .media-content .title {
    margin-top: 0.75rem;
  }

  // Override default accordion styling from primary pages
  .jf-accordion-item {
    .media-content {
      flex-grow: 0;
    }

    // Include special styling props for when a message is
    // embedded inside an accordion item
    .message .message-body {
      padding: 1rem;
      p {
        padding-top: 0;
        font-size: 1.25rem;
        font-weight: normal;
      }
    }
  }
}
