@charset "utf-8";

// This is where the NoRent.org static assets will be, relative to
// where this CSS file will be when the site is deployed.
$norent-root: "../norent";

$jf-body-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
$jf-title-family: "Montserrat Black", sans-serif;
$jf-alt-title-family: "Montserrat Bold", sans-serif;

@import "../_util.scss";
@import "./_bulma-overrides.scss";
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/bulma-divider/dist/css/bulma-divider.sass";
@import "../_supertiny.scss";
@import "../_a11y.scss";
@import "../_safe-mode.scss";
@import "../_modal.scss";
@import "./_modal-overrides.scss";
@import "../_loading-overlay.scss";
@import "../_progress.scss";
@import "../_dev.scss";
@import "../_forms.scss";
@import "./forms-overrides.scss";
@import "../_buttons.scss";
@import "./_button-overrides.scss";
@import "../_big-list.scss";
@import "../_animations.scss";
@import "../_footer.scss";
@import "./_footer-overrides.scss";
@import "../_letter-preview.scss";
@import "../_autocomplete.scss";
@import "../_helpers.scss";
@import "./_language-toggle.scss";
@import "../_email.scss";

@import "./_fonts.scss";

// These variables define the background and content colors for the nav-bar
$jf-navbar-background: $white;
$jf-navbar-content: $black;

@import "../_navbar.scss";
@import "./_navbar-overrides.scss";

@import "../_demo-deployment-note.scss";

// PRESETS TO PRE-EXISTING CLASSES:

.title {
  font-family: $jf-title-family;

  &.jf-alt-title-font {
    font-family: $jf-alt-title-family;
  }
}

.content {
  h1.title {
    font-size: 4.5rem;
    line-height: 1;
  }

  h2.title {
    font-size: 2.25rem;
    line-height: 1.15;
  }

  h3 {
    line-height: 1.35;
  }

  // Size for small modal headings, like in the "privacy info modal"
  h5 {
    font-size: 1.5rem;
  }

  // Default style for inline hyperlinks:
  a:not(.button) {
    text-decoration: underline;
    font-weight: 600;
    &:hover {
      // Keep color consistent on hover
      color: $link;
    }
  }

  // Default spacing between paragraphs
  p:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  // Set all Bulma container classes to have max width:
  .container {
    max-width: 800px;
    &.jf-tight-container {
      max-width: 600px;
    }
    &.jf-wide-container {
      max-width: 1000px;
    }
  }

  // Default hero padding
  .hero-body {
    padding: 4rem 2rem;
  }

  // Default divider styling
  .is-divider {
    border-top: 1px solid #dbdbdb;
  }

  // Make all media icons have vertical centering
  // as well as smaller margins on mobile
  .media .media-left,
  .media .media-right {
    margin-top: auto;
    margin-bottom: auto;
    @media screen and (max-width: $tablet) {
      figure {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }

  // Override styling from Justfix site to include shadow above
  .jf-letter-preview {
    box-shadow: 0px 1.5px 4px 1px rgba(0, 0, 0, 0.25);
  }
}

// NEW CUSTOM CLASSES

@mixin is-horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.jf-space-below-2rem {
  margin-bottom: 2rem;
}

.jf-has-text-centered-tablet {
  text-align: left;
  @include tablet {
    text-align: center;
  }
}

.jf-has-centered-images {
  figure {
    @include is-horizontal-center;
  }
}

// SITE-WIDE REUSABLE ELEMENTS

.jf-norent-logo {
  display: inline-block;
  figure.image {
    // Add a little top margin to nudge it inline with text
    margin: 0.1rem 0 0 0;
    // Remove default image height (fixes bug on Firefox)
    height: unset;
  }
}

$jf-logo-height-mobile: 70px;
$jf-logo-height-desktop: 90px;

.jf-justfix-logo {
  height: $jf-logo-height-mobile;
  figure.image {
    margin: 0;
    padding: 0;
    img {
      height: $jf-logo-height-mobile;
      width: calc(3 * #{$jf-logo-height-mobile});
    }
  }
  @include tablet {
    height: $jf-logo-height-desktop;
    figure.image img {
      @include is-horizontal-center;
      height: $jf-logo-height-desktop;
      width: calc(3 * #{$jf-logo-height-desktop});
    }
  }
}

.jf-jump-arrow {
  figure {
    @extend .jf-up-and-down;
  }
}

.jf-social-icons.buttons {
  margin: 1.5rem 0 1rem 0;
  figure {
    margin: 0;
  }
  a:not(:last-child) {
    margin-right: 1rem;
  }
  img:hover {
    filter: brightness(90%);
  }
}

// OTHER CUSTOM STYLING

@import "./_primary_pages.scss";
@import "./_letter-builder.scss";
