{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
<script src="{% static 'vendor/vega/vega-5.3.5.min.js' %}"></script>
<script src="{% static 'vendor/vega/vega-lite-3.2.1.min.js' %}"></script>
<script src="{% static 'vendor/vega/vega-embed-4.0.0.min.js' %}"></script>
<script src="{% static 'admin/justfix/dashboard.js' %}"></script>
<style>
h2.dashboard-heading {
    position: relative;
}

h2.dashboard-heading a {
    color: inherit;
}

h2.dashboard-heading:hover a:before {
    position: absolute;
    left: -1em;
    content: '#';
    color: gray;
}

.dashboard-desc {
    margin: 1em 0;
}
</style>
{% endblock %}

{% block content %}
  {% if GA_TRACKING_ID %}
  <p>
      For additional analytics, visit
      <a href="https://analytics.google.com" target="_blank" rel="nofollow noopener">Google Analytics</a>
      and visit the dashboard for the property with tracking ID <code>{{ GA_TRACKING_ID }}</code>.
  </p>
  {% endif %}
  {{ viz_data|json_script:'viz-data' }}
  {% for viz in vizs %}
  <h2 class="dashboard-heading" id="{{ viz.anchor_id }}"><a href="#{{ viz.anchor_id }}">{{ viz.title }}</a></h2>
  <div id="{{ viz.id }}"></div>
  {% if viz.spec.description %}
  <div class="dashboard-desc">
  {{ viz.spec.description|safe }}
  </div>
  {% endif %}
  {% endfor %}
{% endblock %}
