.jf-slidedown-5em {
  animation-duration: 0.5s;
  animation-name: jf-slidedown-5em;
  overflow: hidden;
}

@keyframes jf-slidedown-5em {
  from {
    max-height: 0;
  }
  to {
    max-height: 5em;
  }
}

.jf-fadein-half-second {
  animation-duration: 0.5s;
  animation-name: jf-fadein;
}

div.jf-is-transitioning-out {
  .jf-fadein-half-second {
    animation: none;
  }
}

@keyframes jf-fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.jf-slide-500px-200ms-enter {
  max-height: 0;
}

.jf-slide-500px-200ms-enter-active {
  max-height: 500px;
  transition: max-height 200ms;
}

.jf-slide-500px-200ms-exit {
  max-height: 500px;
}

.jf-slide-500px-200ms-exit-active {
  max-height: 0;
  transition: max-height 200ms;
}

.jf-up-and-down {
  animation: jf-up-and-down 3s ease-in-out infinite;
}

@keyframes jf-up-and-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

// Default animation for detail/summary expandables.
// Inspired by https://stackoverflow.com/questions/38213329/how-to-add-css3-transition-with-html5-details-summary-tag-reveal/38215801
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
