.button + .jf-ddo-results {
    margin-top: 2.25em;
}

.jf-ddo-results {
    .jf-ddo-card {
        p.subtitle {
            margin-bottom: 0.25em;
        }

        .button.is-primary {
            margin-top: 1.25em;
        }

        .media {
            align-items: center;

            .media-right.jf-is-hidden-supertiny {
                margin-bottom: auto;

                figure.image {
                    padding: 0 0.7rem 1.4rem 0.7rem;
                }

            }
        }

        margin-bottom: 1.25em;

        @media (max-width: $jf-supertiny) {
            h3 {
                min-height: 2em;

                figure {
                    margin: 0 0 0 1em;
                }
            }
        }
    }
}
