.jf-ddo-results {
    margin-top: 2.25em;

    .jf-ddo-card {
        p.subtitle {
            margin-bottom: 0.25em;
        }

        .button.is-primary {
            margin-top: 1.25em;
        }

        margin-bottom: 1.25em;
    }
}
