.landing-page {
  .hero.is-light {

    .secondary-cta {

      margin-top: 1rem;

      a {
        color: $primary !important;
      }
    }
  }

  .section {
    border-bottom: 1px solid $grey-lighter;
    padding: 5rem 6rem;

    @include until($desktop) {
      padding-left: 0;
      padding-right: 0;

      .notification {
        padding-right: 1.5rem;
      }
    }

    &.section--fullwidth {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
