.jf-loc-landing-page {
  .hero.is-light {

    .hero-body {
      padding-bottom: 0.5rem;
      
      .secondary-cta, .container {
        margin-top: 1rem;
        a {
          color: $primary !important;
          white-space: nowrap;
        }
      }
    }
  }

  .section {
    border-bottom: 1px solid $grey-lighter;
    padding: 5rem 6rem;

    @include until($desktop) {
      padding-left: 0;
      padding-right: 0;

      .notification {
        padding-right: 1.5rem;
      }
    }

    &.section--fullwidth {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
