.jf-loc-image {

  max-width: 400px;
  margin: 0 auto 3rem auto;

  svg {

    .cls-1,.cls-2,.cls-3{
      fill:none;stroke:#0a4c5e;stroke-linejoin:round;
    }

    .cls-1,.cls-3{stroke-width:12px;}

    .cls-2{stroke-width:10px;}

    .cls-3{stroke-linecap:round;}

    .cls-4{fill:#0a4c5e;}
  }

}
