// This is basically the same as react-aria-modal's default
// underlay styling.
.jf-modal-underlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1050;
    overflow: hidden auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

// This is quite similar to Bulma's .modal styling.
.jf-modal-dialog {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    cursor: default;
}

.jf-modal-animate {
    animation-duration: 0.5s;
    animation-name: jf-fadein;
}

@keyframes jf-fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1.0;
    }
}
