// This is basically the same as react-aria-modal's default
// underlay styling.
.jf-modal-underlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1050;
  overflow: hidden auto;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  // This ideally shouldn't matter, since elements with this class only
  // contain one child, but IE11 is bizarre and apparently requires it
  // for our justify-content rule to have any effect:
  // https://stackoverflow.com/a/29270539
  flex-direction: column;
}

// This styling applies to desktop Internet Explorer
.scrollable {
  overflow-y: auto;
  max-width: 640px;
}

.jf-modal-dialog {
  cursor: default;
  overflow-y: initial !important;
  max-width: 90vw;
}

// This styling applies to mobile browsers
@media screen and (max-width: $tablet) {
  .scrollable {
    max-height: 90vh;
    max-width: 90vw;
  }
}

// This styling seems to apply to every desktop browser other than Internet Explorer
@media screen and (min-width: $tablet) {
  .scrollable {
    height: auto;
    max-height: 90vh;
    max-width: 75vw;
  }
  .jf-modal-dialog {
    position: absolute;
    max-width: 75vw;
    left: 28%;
    left: calc(50% - 320px);
    top: 15%;
  }
}
// This styling applies when a desktop browser is very short vertically
@media screen and (max-height: 400px) {
  .scrollable {
    height: 250px;
    max-width: 75vw;
  }
  .jf-modal-dialog {
    position: absolute;
    max-width: 75vw;
    left: 28%;
    left: calc(50% - 320px);
    top: 15%;
  }
}
