// Because no-JS isn't a very common use case, but also because we don't want
// content that starts out collapsed to be inaccessible by clients without JS,
// we'll adopt a strategy whereby, through the use of CSS animations, content
// starts out the way it would on JS-enabled clients, but then transitions
// to its non-JS representation once a certain period of time has elapsed.
//
// We're going to call this period of time "long load time".

$jf-long-load-time: 1.5s;
$jf-long-load-animation-time: $jf-long-load-time * 2;

// This is an embarassingly large amount of code just to add support for non-JS
// clients in a non-janky way, but hopefully it will be reduced a lot by
// minification and compression.

@keyframes jf-delayed-slidedown {
    0% {
        max-height: 0;
        overflow: hidden;
        padding: 0 0;
    }

    50% {
        max-height: 0;
        overflow: hidden;
        padding: 0 0;
    }

    100% {
        max-height: 1000px;
        padding: 0.5rem 0;
    }
}

@keyframes jf-delayed-fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// A mixin to automatically expand collapsed parts of
// a navbar for clients that have JS disabled.
@mixin autoexpand-fallback {
    display: block;
    .navbar-item, .navbar-link {
        color: $justfix-blue;
    }
    .navbar-item:focus, .navbar-link:focus {
        outline: 2px dashed $justfix-blue;
    }
    animation-duration: $jf-long-load-animation-time;
    animation-name: jf-delayed-slidedown;
}

html:not(.jf-no-js) {
    // As soon as we have JS, hide the bottom navbar, since
    // it's just there as a no-JS fallback.
    .hero-foot nav.navbar {
        // We just want to hide it rather than remove it
        // entirely, to avoid jank.
        opacity: 0;
    }

    // We want to gently (but quickly) fade-in elements that
    // were hidden while we were loading JS, to avoid
    // jank.

    @media screen and (max-width: $desktop - 1) {
        .navbar-burger {
            animation-duration: 0.5s;
            animation-name: jf-fadein;
        }
    }

    @media screen and (min-width: $desktop) {
        .hero-head .navbar-link {
            animation-duration: 0.5s;
            animation-name: jf-fadein;
        }
    }
}

// Avoid displaying the branding on the footer navbar, it's
// too repetitive.
.hero-foot .navbar-brand {
    display: none;
}

.hero-foot nav.navbar {
    transition: opacity 1s;
}

// Styles to display on systems that either have
// no JS, or which haven't yet loaded it.
html.jf-no-js {
    .hero-foot nav.navbar {
        animation-duration: $jf-long-load-animation-time;
        animation-name: jf-delayed-fadein;
    }

    @media screen and (max-width: $desktop - 1) {
        // Don't show the hamburger at all, since people
        // will just be confused by its lack of interactivity.
        .navbar-burger {
            visibility: hidden;
        }

        .hero-foot .navbar-menu {
            @include autoexpand-fallback();
        }
    }

    @media screen and (min-width: $desktop) {
        // Don't show any links with dropdowns in the top
        // navbar, since they won't be interactive.
        .hero-head .navbar-link {
            visibility: hidden;
        }

        .hero-foot .navbar-item .navbar-dropdown {
            @include autoexpand-fallback();
        }
    }
}
