aside.safe-mode {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    z-index: 1000;
}

.safe-mode-disable, .safe-mode-disable .notification {
    background-color: $justfix-blue;
}

.safe-mode[data-safe-mode-hidden] {
    display: none;
}

html[data-safe-mode-no-js] .safe-mode[data-safe-mode-hidden] {
    display: block;

    button.delete {
        display: none;
    }
}
