@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import "./_colors.scss";
@import "./_no-js.scss";

.hero nav.navbar {
    background: $justfix-blue;

    .navbar-item:focus, .navbar-link:focus, .navbar-burger:focus {
        outline: 2px dashed white;
    }

    .navbar-item, .navbar-link {
        color: white;
    }

    .navbar-link::after {
        border-color: white;
    }

    .is-active {
        &.navbar-menu, .navbar-dropdown {
            animation: jf-slidedown 0.5s;
        }

        .navbar-item:focus, .navbar-link:focus:not([role="button"]) {
            outline: 2px dashed $justfix-blue;
        }

        .navbar-item, .navbar-link {
            color: $justfix-blue;
        }

        .navbar-link::after {
            border-color: $justfix-blue;
        }
    }

    a.navbar-item:hover,
    a.navbar-item.is-active,
    .navbar-link:hover,
    .navbar-link.is-active {
        color: $justfix-blue;
    }

    .navbar-link:hover::after,
    .navbar-link.is-active::after {
        border-color: $justfix-blue;
    }

    .navbar-burger {
        color: white;
    }
}

.button:focus {
    outline: 1px dashed rgba(0, 0, 0, 0.5);
    outline-offset: -5px;
}

.hero {
    background: url(img/brownstones_small.jpg) center / cover;

    @media screen and (min-width: 800px) {
        background: url(img/brownstones.jpg) center / cover;
    }
}

// https://css-tricks.com/focus-styles-non-interactive-elements/
[data-jf-is-noninteractive] {
    outline: none;
}

// Bulma is supposed to support this, but at the moment it
// doesn't:
// https://github.com/jgthms/bulma/issues/150
//
// Until it does, we'll use this from:
// https://webaim.org/techniques/css/invisiblecontent/
.jf-sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

// This is basically the same as react-aria-modal's default
// underlay styling.
.jf-modal-underlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1050;
    overflow: hidden auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

// This is quite similar to Bulma's .modal styling.
.jf-modal-dialog {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    cursor: default;
}

.jf-radio.radio + .jf-radio.radio, .jf-checkbox + .jf-checkbox {
    // This undoes Bulma's default .radio+.radio styling.
    margin-left: 0;

    padding-top: 0.5em;
}

.jf-radio, .jf-checkbox {
    display: block;
}

.jf-modal-animate {
    animation-duration: 0.5s;
    animation-name: jf-fadein;
}

@keyframes jf-slidedown {
    from {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
    }

    to {
        max-height: 1000px;
    }
}

@keyframes jf-fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1.0;
    }
}

.tag[data-jf-tag-count] {
    margin-left: 1em;
}

.tag[data-jf-tag-count="0"] {
    display: none;
}

.jf-loc-preview iframe {
    width: 100%;
    min-height: 20em;
}
