{% extends "admin/base_site.html" %}
{% block content %}
{% if not can_mail %}
  <p>The letter of complaint cannot be mailed via Lob.</p>
{% else %}
  <h2>User (tenant) address details</h2>
  <pre>{% for line in user.onboarding_info.address_lines_for_mailing %}{{ line }}<br>{% endfor %}</pre>
  <p>Deliverability: <code>{{ user_verification.deliverability }}</code></p>

  <h2>Landlord address details</h2>
  <pre>{{ user.landlord_details.address }}</pre>
  <p>Deliverability: <code>{{ landlord_verification.deliverability }}</code></p>
{% endif %}
{% endblock %}
