{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block content %}
{% if lob_nomail_reason %}
  <p>The letter of complaint cannot be mailed via Lob because {{ lob_nomail_reason }}.</p>
  {% if letter.lob_letter_html_description %}
    <p>{{ letter.lob_letter_html_description }}</p>
  {% endif %}
  <p><a href="{{ go_back_href }}">Go back</a></p>
{% elif is_post %}
  <p>
    Hooray, the letter was sent via Lob!
  </p>
  <p>{{ letter.lob_letter_html_description }}</p>
  <p><a href="{{ go_back_href }}">Go back</a></p>
{% else %}
  {% if not is_deliverable %}
  <p class="errornote">
    At least one of the addresses below is not deliverable! Please <a href="{{ go_back_href }}">go back</a> and
    fix things before trying to mail the letter with Lob.
  </p>
  {% elif not is_definitely_deliverable %}
  <ul class="messagelist">
    <li class="warning">
      The letter of complaint can be sent by Lob, but there is a
      chance one of the addresses is inaccurate. See below
      for more details.
    </li>
  </ul>
  {% else %}
    <p>
      According to Lob, both addresses are quite deliverable!
      Please review the information below and submit this form
      to send the letter via Lob.
    </p>
  {% endif %}
  <fieldset class="module aligned">
    <h2>User/tenant address details</h2>
    <div class="form-row">
      <div>
        <label>Our version</label>
        <div class="readonly">
          <pre>{% for line in user.onboarding_info.address_lines_for_mailing %}{{ line }}<br>{% endfor %}</pre>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div>
        <label>Lob's version</label>
        <div class="readonly">
          <pre>{{ user_verified_address }}</pre>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div>
        <label>Lob's deliverability code</label>
        <div class="readonly">
          <pre>{{ user_verification.deliverability }}</pre>
          <p>{{ user_deliverability_docs }}</p>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="module aligned">
    <h2>Landlord address details</h2>
    <div class="form-row">
      <div>
        <label>Our version</label>
        <div class="readonly">
          <pre>{{ user.landlord_details.address }}</pre>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div>
        <label>Lob's version</label>
        <div class="readonly">
          <pre>{{ landlord_verified_address }}</pre>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div>
        <label>Lob's deliverability code</label>
        <div class="readonly">
          <pre>{{ landlord_verification.deliverability }}</pre>
          <p>{{ landlord_deliverability_docs }}</p>
        </div>
      </div>
    </div>
  </fieldset>

  {% if is_deliverable %}
  <p>
    If this information isn't copacetic, you should <a href="{{ go_back_href }}">go back</a> and
    change anything that needs changing.
  </p>

  <p>
    You should also examine the user's <a href="{{ pdf_url }}" target="_blank">letter of complaint PDF</a>
    and make sure everything looks okay:
  </p>

  <embed src="{{ pdf_url }}" style="width: 100%" height="600" type="application/pdf">

  <form action="." method="POST">
    {% csrf_token %}
    <input type="hidden" name="signed_verifications" value="{{ signed_verifications }}" >
    <div class="submit-row">
      <input type="submit" class="default" value="Mail it with Lob!">
    </div>
  </form>
  {% endif %}
{% endif %}
{% endblock %}
