Hello, {{ user.full_name }} has submitted a letter of
complaint they would like us to mail.

{% for issue in user.custom_issues.all %}{% if forloop.first %}The user has the following custom issues:

{% endif %}* {{ issue.area }}: {{ issue.description }}
{% empty %}The user has no custom issues.
{% endfor %}
{% if user.landlord_details.is_looked_up %}Their landlord information is looked up from open data,
so the destination address should be deliverable.
{% else %}Their landlord information was manually entered.
{% endif %}

SENDING THE LETTER
------------------

To send the letter, visit:

  {{ send_letter_url }}

REQUESTING CHANGES
------------------

Currently, the only easy way to request changes to
the letter is by first deleting the LetterRequest model for the
user in the admin:

  {{ edit_letter_url }}

Then, reply to this email--making sure not to quote
anything from this message--and ask the user to make the required
changes and re-send the letter.  You will then receive another
email when the user re-submits.

MAKING CHANGES YOURSELF
-----------------------

You can also make changes to the user's letter yourself via the
admin:

  {{ edit_letter_url }}

However, once you change anything, be sure to delete and re-create
the LetterRequest model for the user; otherwise the actual letter
content won't be regenerated!

PERMANENTLY REJECTING THE LETTER
--------------------------------

To permanently reject the letter, visit:

  {{ edit_letter_url }}

In the LetterRequest model, select a rejection reason and save
the model.
