{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block content %}
<p>
  Below is the user's letter of complaint for your perusal.
</p>
<embed src="{{ pdf_url }}" style="width: 100%" height="600" type="application/pdf">
<p>
  If you're certain this request needs to be rejected, you can use the form below.
</p>
<form action="." method="POST">
  {% csrf_token %}
  {{ form }}
  <div class="submit-row">
    <input type="submit" class="default" value="Reject">
  </div>
</form>
{% endblock %}
