{% extends "admin/change_form.html" %}
{% load static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/justfix/user_change_form.css' %}">{% endblock %}

{% block content_subtitle %}
<h2>{{ original.full_name }}</h2>
<div class="jf-tab-bar">
  <div class="jf-tab jf-tab-selected">General</div>
  <a href="/two" class="jf-tab" title="Letter of Complaint">
    LOC
    <span class="jf-action-status">Completed</span>
  </a>
  <a href="/three" class="jf-tab" title="HP Action / Emergency HP Action">
    HP
    <span class="jf-action-status">In progress</span>
  </a>
  <a href="/four" class="jf-tab jf-tab-disabled" title="EvictionFreeNY.org">
    EFNY
    <span class="jf-action-status">Not started</span>
  </a>
  <a href="/five" class="jf-tab jf-tab-disabled" title="NoRent.org">
    NoRent
    <span class="jf-action-status">Not started</span>
  </a>
</div>
{% endblock %}
