{% load i18n %}
{% if is_safe_mode_enabled %}
<div class="safe-mode-disable">
  <div class="container">
    <div class="notification is-primary">
      <form method="post" action="{% url 'safe_mode:disable' %}">
        <div class="columns">
          <div class="column is-8">
            {% blocktrans %}This site is currently in <strong>compatibility mode</strong>. For an enhanced experience, you can disable it, but this may cause compatibility issues with your current browser.{% endblocktrans %}
          </div>
          <div class="column is-4 has-text-right">
            <button class="button is-fullwidth" type="submit">{% blocktrans %}Deactivate compatibility mode{% endblocktrans %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
<aside id="safe-mode-enable" class="safe-mode" data-safe-mode-hidden tabindex="-1" role="alert">
  <div class="container">
    <div class="notification is-danger">
      <form method="post" action="{% url 'safe_mode:enable' %}">
        <div class="columns">
          <div class="column is-8">
            {% blocktrans %}Having problems using this page? We're sorry for the inconvenience. Activate this site's <strong>compatibility mode</strong> for a better experience.{% endblocktrans %}
          </div>
          <div class="column is-4 has-text-right">
            <button class="button is-fullwidth" type="submit">{% blocktrans %}Activate compatibility mode{% endblocktrans %}</button>
          </div>
        </div>
      </form>
      <button class="delete">{% blocktrans %}close{% endblocktrans %}</button>
    </div>
  </div>
</aside>
{% endif %}
