<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if is_pdf %}
      <style>{{ pdf_styles_css }}</style>
    {% else %}
      {% load static %}
      <link rel="stylesheet" href="{% static fonts_stylesheet_path %}">
      <link rel="stylesheet" href="{% static stylesheet_path %}">
      <link rel="stylesheet" href="{% static 'loc/loc-preview-styles.css' %}">
    {% endif %}
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
