<h1 class="has-text-right">
  <span class="is-uppercase">Request for repairs</span><br>
  at {{ user.onboarding_info.address }}{% if user.onboarding_info.apartment_address_line %}, {{ user.onboarding_info.apartment_address_line }}{% endif %}
</h1>

<p class="has-text-right">{{ today }}</p>

<dl class="jf-letter-heading">
  {% if landlord_details.name and landlord_details.address_lines_for_mailing %}
  <dt>To</dt>
  <dd>
    {{ landlord_details.name|upper }}<br/>
    {% for line in landlord_details.address_lines_for_mailing %}
      {{ line }}<br/>
    {% endfor %}
  </dd>
  {% endif %}
  <dt>From</dt>
  <dd>
    {{ user.full_name|default:"Anonymous"|upper }}<br/>
    {% if user.onboarding_info %}
      {% for line in user.onboarding_info.address_lines_for_mailing %}
        {{ line }}<br/>
      {% endfor %}
    {% endif %}
    {{ user.formatted_phone_number }}
  </dd>
</dl>

<p>
  {% if landlord_details.name %}
    Dear {{ landlord_details.name|upper }},
  {% else %}
    To whom it may concern,
  {% endif %}
</p>

{% if issues %}
  <p>
    I need the following repairs in my home referenced below and/or in the common areas
    of the building:
  </p>

  <h2>Repairs required</h2>

  {% for area, area_issues in issues %}
    <h3>{{ area }}</h3>
    <ul>
      {% for issue in area_issues %}
        <li>{{ issue }}</li>
      {% endfor %}
    </ul>
  {% endfor %}

  {% if access_dates %}
    <div class="jf-avoid-page-breaks-within">
      <h2>Available access dates</h2>
      <p>
        Below are dates that I am available to be at my apartment to let in a repair worker. 
        Please contact me (using the information provided at the top of this letter) in order 
        to make arrangements with me <strong>at least 24 hours in advance</strong>.
      </p>
      <ul>
      {% for date in access_dates %}
          <li>{{ date }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="jf-avoid-page-breaks-within">
    <h2>Requirements</h2>
    <p>
      In order to keep my household safe, I request that anyone 
      entering my home to make repairs follow sanitation guidelines 
      from the Center for Disease Control (CDC), including washing their hands before entering, 
      wearing gloves, a mask, and shoe coverings, and practicing physical distancing 
      (keeping 6 feet of distance between me and anyone else in my household).
    </p>
    <p>
      Additionally, I request that you provide the name and contact information 
      for any repair worker assigned to my home at least 24 hours prior to their arrival.
    </p>
    {% if has_heat_issues %}
      <p>
        Please be advised that the lack of Heat and/or Hot Water constitutes an 
        emergency under the NYC Housing Maintenance Code, Title 27, Chapter 2. 
        Failure to address these repairs will result in an escalation of this issue, and 
        I may exercise my right to file an Emergency HP Action through the NYC Housing Court system.
      </p>
    {% endif %}
  </div>
  {% if onboarding_info.has_called_311 %}
  <div class="jf-avoid-page-breaks-within">
    <h2>Previous Attempts for Relief</h2>
    <p>
      I have already contacted 311 on several occasions, but the issue has not been resolved.
      In the meantime, I have recorded evidence of the violations should legal action be necessary.
    </p>
  </div>
  {% endif %}
  <div class="jf-avoid-page-breaks-within">
    <h2>Civil penalties</h2>
    <p>
      Pursuant to NYC Admin Code § 27-2115 an order of civil penalties for all existing violations
      for which the time to correct has expired is as follows:
    </p>
    <dl>
      <dt>“C” Violation</dt>
      <dd>
      $50 per day per violation (if 1-5 units)<br/>
      $50-$150 one-time penalty per violation plus $125 per day (5 or more units)
      </dd>
      <dt>“B” Violation:</dt>
      <dd>
      $25-$100 one-time penalty per violation plus $10 per day
      </dd>
      <dt>“A” Violation”</dt>
      <dd>
      $10-$50 one-time penalty per violation
      </dd>
    </dl>
  </div class="jf-avoid-page-breaks-within">
  <div class="jf-avoid-page-breaks-within">
    <p>
      According to the NYC Admin Code § 27-2115, a civil penalty is also issued where a person 
      willfully makes a false certification of correction of a violation per violation falsely certified.
    </p>
    <p>
      Please contact me as soon as possible to arrange a time to have these repairs made at
      the number provided below. 
    </p>
{% else %}
  <p>I have no issues with my apartment. It's awesome.</p>
  <div class="jf-avoid-page-breaks-within">
{% endif %}
    <p class="jf-signature">
      Regards,<br/><br/>
      {{ user.full_name|default:"Anonymous"|upper }}<br/>
      {% if user.onboarding_info %}
        {% for line in user.onboarding_info.address_lines_for_mailing %}
          {{ line }}<br/>
        {% endfor %}
      {% endif %}
      {{ user.formatted_phone_number }}
    </p>
  </div> <!-- Close of .jf-avoid-page-breaks-within -->
