<!DOCTYPE html>{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Two-factor verification</title>
  </head>
  <body>
    <h1>Two-factor verification</h1>

    {% if error %}
      <p><strong>{{ error }}</strong></p>
    {% endif %}

    {% if not twofactor.has_user_seen_secret_yet %}
      <p><a href="{{ twofactor.provisioning_uri }}" id="provisioning">Here is your 2FA provisioning URL.</a></p>
      <p><canvas id="qr" width="300" height="300"></canvas></p>
    {% else %}
      <p>You should have your secret, buddy.</p>
    {% endif %}

    <form action="{% url 'verify' %}" method="POST">
      {% csrf_token %}
      <label for="otp">Your one-time password:</label>
      <input type="number" name="otp" autocomplete="off" id="otp" required>
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit">Submit</button>
    </form>
    {% if not twofactor.has_user_seen_secret_yet %}
    <script src="{% static 'twofactor/qrious-4.0.2.min.js' %}"></script>
    <script src="{% static 'twofactor/render-qr-code.js' %}"></script>
    {% endif %}
  </body>
</html>
