// Fallbacks taken from:
// http://melchoyce.github.io/fontstacks/examples/open-sans.html

// FONTS:
$family-sans-serif: $jf-body-family;

// COLORS:
$new-justfix-green: #19a551;
$new-justfix-pink: #ffa0c7;
$new-justfix-yellow: #ffba33;
$new-justfix-orange: #ff8139;
$new-justfix-blue: #5188fe;
$new-justfix-black: #242323;
$new-justfix-light-grey: #faf8f4;
$new-justfix-light-grey-accent: #efe9dc;
$justfix-grey: #d4d5d0;

$primary: $new-justfix-black;
$secondary: $new-justfix-light-grey;
$secondary-accent: $new-justfix-light-grey-accent; // A slight variation on our secondary color to stand out against a background
$info: $new-justfix-black; // Color for logo and non-text elements
$link: $new-justfix-black; // Inline hyperlink color
$dark: $new-justfix-black; // Primary text color for light backgrounds
$grey-light: $new-justfix-light-grey; // Secondary text color for dark backgrounds
$light: $justfix-grey; // Secondary background color for buttons (i.e. Cancel buttons)
$danger: $new-justfix-orange; // Color for error messages

// BUTTONS:
$button-padding-vertical: $spacing-07;
$button-padding-horizontal: $spacing-10;

// MESSAGES:
$message-body-padding: $spacing-09;
$message-body-border-width: 0px;

// CONTENT:
$title-color: $dark;
$subtitle-color: $dark;
$content-heading-color: $dark;
$body-color: $dark;

// FORMS:
$label-color: $dark;
$input-color: $dark;

// BOXES:
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
