// Override of Standard Mixin:
@mixin button-variant($color: $primary) {
  background-color: $color;
  font-family: $jf-alt-title-family;
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  text-transform: uppercase;

  @if $color == $secondary {
    color: $primary;
    border: 1px solid $primary;
  } @else {
    color: $secondary;
    border: 1px solid $secondary;
  }

  border-radius: 5rem;
  padding: $spacing-06 $spacing-07;

  height: fit-content;
  // IE support:
  display: table;
  box-shadow: 7px 7px 0px 0px $light;
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;

  transition: all 0.1s linear;
  transform: translateX(0px);

  &:focus,
  &:hover {
    border-color: initial;
    background-color: $color;
  }
  &:hover {
    transition: all 0.1s linear;
    box-shadow: 0px 7px 0px 0px $light;
    transform: translateX(7px);
  }
  &:active,
  &.active {
    @if $color == $secondary {
      color: $primary;
    } @else {
      color: $secondary;
    }
    border-style: solid;
    background-color: $color;
    box-shadow: 0px 7px 0px 0px $light inset, 0px -3px 0px 0px $light;
  }
}

.button.is-primary {
  @include button-variant($primary);
}

.button.is-light {
  @include button-variant($secondary);
}

.button.is-text {
  padding: 0;
  color: $primary;

  &.is-small {
    font-size: 0.875rem;
  }
}
