@charset "utf-8";

// This is where the NoRent-related static assets will be, relative to
// where this CSS file will be when the site is deployed. (Yes, this is the
// CSS for the LaLetterBuilder site, but it inherits most of its styling from
// NoRent at the time of this writing.)
$laletterbuilder-root: "../laletterbuilder";

$jf-body-family: "Degular", Arial, Helvetica, sans-serif;
$jf-title-family: "Degular Display", Arial, Helvetica, sans-serif;
$jf-alt-title-family: "Suisse Int'l Mono", "Courier New", Courier, monospace;

@import "./spacing.scss";

@import "../_util.scss";
@import "./_bulma-overrides.scss";
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/bulma-divider/dist/css/bulma-divider.sass";
@import "../_supertiny.scss";
@import "../_a11y.scss";
@import "../_safe-mode.scss";
@import "../_modal.scss";
@import "./_modal-overrides.scss";
@import "../_loading-overlay.scss";
@import "../_progress.scss";
@import "../_dev.scss";
@import "../_forms.scss";
@import "./forms-overrides.scss";
@import "../_buttons.scss";
@import "./_button-overrides.scss";
@import "../_big-list.scss";
@import "../_animations.scss";
@import "../_footer.scss";
@import "./_footer-overrides.scss";
@import "../_letter-preview.scss";
@import "../_autocomplete.scss";
@import "../_helpers.scss";
@import "../_language-toggle.scss";
@import "../_email.scss";
@import "../_accordion.scss";
@import "../_issues.scss";

@import "./_fonts.scss";

// These variables define the background and content colors for the nav-bar
$jf-navbar-background: $primary;
$jf-navbar-content: $secondary;
$jf-navbar-height: 70px;

@import "../_navbar.scss";
@import "./navbar-overrides";

@import "../_demo-deployment-note.scss";

@import "../norent/_misc.scss";

@import "../norent/_primary_pages.scss";

// SITE-WIDE STYLE DEFAULTS
.jf-site-laletterbuilder {
  background-color: $secondary;
  font-family: $jf-body-family;
  // DEFAULT BODY FONT SPECS:
  font-size: 1.2rem;
  line-height: 1.44rem;
  letter-spacing: 0.01rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $jf-title-family;
  }

  h1,
  h1.title,
  .content h1.title {
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: 0.03rem;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  p,
  .subtitle {
    font-size: 1.5rem;
    line-height: 1.75rem;

    &.is-size-6,
    &.is-6 {
      line-height: 1rem;
      font-size: 1rem;
    }

    &.is-size-7,
    &.is-7 {
      line-height: 0.875rem;
      font-size: 0.875rem;
    }
  }

  .jf-laletterbuilder-section-primary,
  .jf-laletterbuilder-landing-section-primary {
    background-color: $secondary;
  }

  .jf-laletterbuilder-section-secondary,
  .jf-laletterbuilder-landing-section-secondary {
    background-color: $secondary-accent;
    figure {
      margin: 0rem;
    }
    .text-section {
      margin-top: $spacing-05;
    }
    .text-section:last-of-type {
      margin-bottom: $spacing-07;
    }
  }

  .jf-laletterbuilder-landing-section-tertiary {
    background-color: $primary;
    color: $secondary;
    h2 {
      color: $secondary;
    }
    .subtitle {
      color: $secondary;
    }
    .text-section {
      margin-top: $spacing-07;
    }
    .text-section:last-of-type {
      margin-bottom: $spacing-07;
    }
  }
}

.jf-laletterbuilder-section-primary,
.jf-laletterbuilder-section-secondary {
  padding: $spacing-07 $spacing-06;
}

.jf-laletterbuilder-logo {
  font-weight: 600;
  font-family: $jf-title-family;
  letter-spacing: 0;
}

// PROGRESS BAR STYLING OVERRIDES
.jf-progress-title-wrapper {
  .jf-page-steps-title.title {
    font-size: 1.125rem;
    font-family: $jf-body-family;
    font-weight: 400;
    margin-bottom: $spacing-03;

    // Ooof! We unfortunately need to override some rules marked as "important"
    &.has-text-centered {
      text-align: left !important;
    }

    &.has-text-grey {
      color: $primary !important;
    }
  }

  progress {
    border: 1px solid $primary;
  }

  progress::-webkit-progress-bar {
    background: $secondary;
  }
}

// ISSUE CHECKLIST CUSTOMIZATIONS

.jf-laletterbuilder-issues-list {
  p:first-child {
    padding-bottom: $spacing-05;
    margin-bottom: $spacing-05;
    border-bottom: 1px solid $primary;
  }

  .jf-accordion-item {
    margin-bottom: $spacing-05;

    details {
      margin-bottom: 0;

      summary {
        font-size: 1.125rem;
        padding: 0 0 $spacing-05 0;
        margin: 0;
        border-bottom: 1px solid $primary;

        &:focus {
          outline-offset: 5px;
        }

        // Fix bug where scrollbars appear on accordion titles
        .media-content {
          overflow-x: unset;
        }

        .media-right span {
          text-decoration: underline;
          font-size: 0.875rem;
          font-family: $jf-alt-title-family;
        }
      }

      .jf-checkbox {
        .jf-checkbox-symbol {
          width: 100%;
          position: absolute;
          border: 1px solid $primary;
          min-height: 2.8rem;
          border-radius: 4px;
        }

        // Styling of the check mark symbol itself:
        input:checked + .jf-checkbox-symbol {
          background-position: 98%;
        }

        .jf-label-text {
          margin: $spacing-02 $spacing-03 $spacing-02 0;
          font-size: 0.875rem;
          height: 0.8rem;
          padding: $spacing-05;
          z-index: 5;
          color: $primary;
        }

        input:checked ~ .jf-label-text {
          color: $secondary;
        }
      }
    }
  }
}

// CHOOSE LETTER STYLING OVERRIDES

.jf-la-letter-card {
  border: 0.063rem solid $new-justfix-black;
  box-sizing: border-box;
  border-radius: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-09;
  max-width: 40.875rem;

  .content {
    padding: $spacing-06 $spacing-06 0 $spacing-06;
    margin-bottom: 0rem;

    h2 {
      font-family: $jf-body-family;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 1.8rem;
    }

    .jf-card-text {
      font-style: normal;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 100%;
    }

    .jf-card-button {
      margin-top: $spacing-07;
      margin-bottom: $spacing-07;
      margin-left: auto;
      margin-right: auto;
    }

    .jf-la-letter-time {
      margin: 0;

      .jf-clock-icon {
        float: left;

        .image {
          margin: $spacing-02;
        }
      }
    }
  }

  hr {
    margin: 1rem 0px 1rem 0px;
    background-color: black;
    color: black;
    height: 0.063rem;
  }

  // Other places, we want the tap target to spill over the sides of the item. Not here.
  .jf-accordion-item {
    margin: 0rem;

    details {
      // Since this accordion is contained within another object, we don't need extra space at the bottom.
      margin-bottom: 0;

      summary {
        // Fix bug where scrollbars appear on accordion titles
        .media-content {
          overflow-x: unset;
        }
      }
    }
  }
}

// MY LETTERS STYLING OVERRIDES
.jf-my-letters {
  .my-letters-box {
    border: 1px solid $primary;
    box-sizing: border-box;
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: $spacing-06;
    max-width: 40.875rem;
    padding: $spacing-06;
  }

  .start-letter-button {
    margin-top: $spacing-07;
  }

  .new-letter-button {
    margin-top: $spacing-07;
    margin-left: auto;
    margin-right: auto;
  }
}

// NORENT STYLING OVERRIDES

.jf-norent-builder-page {
  padding: $spacing-07 $spacing-06;
  background-color: $secondary;
  box-shadow: none;
  border-radius: 0;
}

$footer-offset: 1rem;

.jf-norent-internal-above-footer-content {
  min-height: calc(100vh - #{$jf-navbar-height * 2});

  @include tablet {
    margin-top: $spacing-10;
    margin-bottom: $spacing-10;
    min-height: calc(100vh - 8rem - #{$jf-navbar-height} - #{$footer-offset});
  }
}

ol.is-marginless {
  padding-left: $spacing-05;
}

.jf-accordion-item img {
  // Our default chevron icon on accordion dropdowns is blue
  // Let's make the color match up with the scheme of this site
  filter: grayscale(100%) brightness(0.1);
}

.box {
  color: $primary;
}

.content .jf-letter-preview {
  box-shadow: none;
  border: 1px solid $primary;
}

.message {
  border: 1px solid $primary;

  .message-header {
    background-color: $primary;
    color: $secondary;
  }

  .message-body {
    background-color: $secondary;
    color: $primary;
    padding: $spacing-06;
  }

  &.jf-letter-translation .message-body {
    background-color: white;
  }
}

.is-divider {
  border: 1px solid $primary;
  margin: $spacing-05 0;
}
