{% extends "admin/base.html" %}

{% load i18n %}

{#
 # This file is derived from the original Django admin template of the same name:
 # https://github.com/django/django/blob/master/django/contrib/admin/templates/admin/base_site.html
 #}

{% block title %}{{ title }} | {{ site_title|default:'Django site admin' }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:'Django administration' }}</a></h1>
{% endblock %}

{% block userlinks %}
{% if perms.texting_history.view_message %}
<a href="/admin/conversations/">Conversations</a> /
{% endif %}
{% if perms.users.change_justfixuser %}
<a href="{% url 'admin:dashboard' %}">Dashboard</a> /
{% endif %}
<a href="{% url 'admin:download-data-index' %}">Download data</a> /
{{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %}
