@page {
    size: letter;
    margin-top: 1in;
    margin-bottom: 1in;
}

html {
    font-family: LiberationSerif, serif;
}

.has-text-right {
    text-align: right;
}

h1, h2, h3 {
    font-size: inherit;
}

h2 {
    margin-top: 0.5in;
}

li {
    padding-bottom: 1em;
}

/**
 * It's very intentional that we want the affadavit, which comprises the
 * top of the page, to have a specific height: this ensures that the
 * form fields at the bottom of the section will always be in the same
 * place, so we know exactly where to tell DocuSign to put its "sign here"
 * and "date signed" tabs.
 */
 .affadavit {
    position: relative;
    height: 2.75in;
}

.form-fields {
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-fields > div {
    position: relative;
}

.form-field {
    position: absolute;
    width: 1.75in;
    border-top: 1pt solid black;
    padding-top: 2pt;
}

.form-field-value {
    margin-top: -4em;
    font-family: monospace;
    font-size: 10pt;
}

.form-field-1 {
    left: 0;
}

.form-field-2 {
    left: 2in;
}

.form-field-3 {
    left: 4in;
}

.contact-details {
    border-top: 1pt solid black;
    margin-top: 3em;
    page-break-after: always;
}

dt {
    display: inline-block;
    width: 1in;
}

dt::after {
    content: ": ";
}

dd {
    margin-left: 0;
    display: inline-block;
}

h3 {
    padding-top: 1em;
}
