{% extends "loc/base.html" %}

{% block title %}AFFIDAVIT IN SUPPORT OF AN APPLICATION TO WAIVE COURT FEES{% endblock %}

{% block body %}
<section class="instructions">
    <p class="has-text-right">INDEX NUMBER ____________________________</p>

    <p class="official-use-disclaimer">
        (This page is for official use.)
    </p>

    <h2>HP ACTION FILING OF {{ tenant_name|upper }}</h2>

    <p>This filing has been submitted through the JustFix HP Action online tool.</p>

    <p>To the attention of the attending Clerk:</p>

    <ol>
        <li>
            If approved, please refer this case to OCJ/HRA for attorney assignment and
            email the signed forms to the tenant so they can perform service as
            directed.<br>
            If rejected, please inform the tenant via email using the contact details
            provided below.
        </li>
        <li>
            Please maintain this cover sheet together with the executed papers when
            passing the case on to OCJ/HRA so that the attorney may have easy access
            to the contact details for the parties involved.
        </li>
    </ol>

    <p>
        With Gratitude,<br>
        JustFix Team
    </p>
</section>
<section class="contact-details">
    <h2>CONTACT DETAILS FOR PARTIES INVOLVED</h2>
    <h3>Tenant plaintiff</h3>
    <dl>
        <div>
            <dt>Name</dt>
            <dd>{{ tenant_name }}</dd>
        </div>
        <div>
            <dt>Email</dt>
            <dd>{{ tenant_email }}</dd>
        </div>
        <div>
            <dt>Phone</dt>
            <dd>{{ tenant_phone }}</dd>
        </div>
        <div>
            <dt>Address</dt>
            <dd>{{ tenant_address }}</dd>
        </div>
    </dl>
    <h3>Landlord/management company respondent</h3>
    <dl>
        <div>
            <dt>Name</dt>
            <dd>{{ landlord_name }}</dd>
        </div>
        <div>
            <dt>Email</dt>
            <dd>{{ landlord_email }}</dd>
        </div>
        <div>
            <dt>Phone</dt>
            <dd>{{ landlord_phone }}</dd>
        </div>
        <div>
            <dt>Address</dt>
            <dd>{{ landlord_address }}</dd>
        </div>
    </dl>
</section>
<section class="affadavit">
    <p class="has-text-right">INDEX NUMBER ____________________________</p>

    <h2>AFFIDAVIT IN SUPPORT OF AN APPLICATION TO WAIVE COURT FEES </h2>

    <p>I, {{ tenant_name }}, hereby request the waiving of any and all statutory fees for
        the defense or prosecution of this HP Action. I make this application based on
        CPLR §1101. I do not have, nor am I able to obtain, the funds needed to pay
        the court fees. I will be unable to proceed unless the Order is granted.</p>

    <div class="form-fields">
        <div>
            <div class="form-field form-field-1">
                Date
            </div>

            <div class="form-field form-field-2">
                Tenant's full name
                <div class="form-field-value">{{ tenant_name }}</div>
            </div>

            <div class="form-field form-field-3">
                Tenant's signature
            </div>
        </div>
    </div>
</section>
{% endblock %}